<div class="container">
 <div class="row">
  <div class="col-md-8">

  	<h2>アーティスト一覧</h2>

  	<% @artists.each do |artist| %>
  	 <ul>
      <li><%= artist.name %></li>
      <%= link_to "削除", owners_artist_path(artist.id), method: :delete, "data-confirm" => "本当に削除しますか？", class:"btn-sm btn-danger destroy_book" %>
     </ul>

    <% end %>

  </div>
 </div>
</div>
