<%= form_for @cd do |f| %>
  <h3>Disc</h3>
  <div id="discs">
    <%= f.fields_for :discs do |disc| %>
      <%= render 'disc_fields', f: disc %>
    <% end %>
    <div id="links">
      <%= link_to_add_association 'Disc追加',f, :discs %>
    </div>
  </div>
<% end %>