<div class="container">
   <h1>商品一覧</h1>

     <table class="table table-striped">
      <thead>
          <tr>
            <th><P>ジャケット画像</P></th>
            <th><P>商品名</P></th>
            <th><P>価格（税別）</P></th>
          </tr>
      </thead>
      <tbody>
      	  <h1></h1>
      	   <%=link_to '新規登録', new_owners_cd_path %>
      	   <tbody>
           <% @cds.each do |cd| %>
            <tr class="new-table">
              <td><span><%= attachment_image_tag cd, :jacket_image, :fill, 50, 50, format: 'jpeg' %></span></td>
              <td><span><%= cd.name %></span></td>
              <td><span><%= cd.price %></span></td>
            </tr>
          <% end %>
          </tbody>
       </tbody>
     </table>
</div>

