
<div class="complete">
	<p><strong>ご注文が完了致しました</strong></p>
	<p><strong>ご利用していただきありがとうございました</strong></p>
</div>


<div class="bxslider">

		<div class="thank16"></div>
		<div class="thank15"></div>
		<div class="thank14"></div>
		<div class="thank13"></div>
		<div class="thank12"></div>
		<div class="thank11"></div>
		<div class="thank10"></div>
		<div class="thank9"></div>
		<div class="thank8"></div>
		<div class="thank7"></div>
		<div class="thank6"></div>
		<div class="thank5"></div>
		<div class="thank4"></div>
		<div class="thank3"></div>
		<div class="thank2"></div>
		<div class="thank1"></div>

</div>

<div class="complete_top">
 <%= link_to'Topに戻る',cds_path %>
</div>