<div class="container">
 <div class="row">
  <div class="col-md-8">

  	<h2>ジャンル一覧</h2>

  	<% @genres.each do |genre| %>
  	 <ul>
      <li><%= genre.name %></li>
      <%= link_to "削除", owners_genre_path(genre.id), method: :delete, "data-confirm" => "本当に削除しますか？", class:"btn-sm btn-danger destroy_book" %>
     </ul>

    <% end %>

  </div>
 </div>
</div>
