<div class="container">
 <div class="row">
  <div class="col-md-8">

  	<h2>登録フォーム</h2>

    <%= render :partial => "owners/artists/new" %>
    <%= render :partial => "owners/genres/new" %>
    <%= render :partial => "owners/labels/new" %>

    <%= link_to 'Topに戻る', owners_cds_path %>
  </div>
 </div>
</div>
