/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bxslider
 *= require_tree .
 *= require_self
 */
// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

.clearfix::after {
	content:"";
	display: block;
	clear: both;
}



.flash {
    color: $white;
    text-align: center;
    background-color: lightBlue;
}

.alert {
    color: $white;
    text-align: center;
    background-color: orange;
}


.input-group-btn{
	height: 20px;
}

.app_nav_home{
	margin-left: 5px;
	margin-right: 5px;
}

.app_nav_sign_up{
	margin-left: 5px;
	margin-right: 5px;
}

.app_nav_sign_in{
	margin-left: 5px;
	margin-right: 5px;
}

.app_nav_mypage{
	margin-left: 5px;
	margin-right: 5px;
}

.app_nav_sign_out{
	margin-left: 5px;
	margin-right: 5px;
}

.user_cd_index{
	margin-left: 60px;
}

.cd{
	float: left;
	border: 2px solid whitesmoke;
	margin: 10px;
	padding: 3px;
}

.incart{
	text-align: right;
	width: 30px;
}

.user_index_count{
	text-align: right;
	margin-left: 13px;
}

.user_index_cart_count{
	margin-bottom: 10px;
}

.cart_show{
	padding-bottom: 5px;
	padding-left: 13px;
	margin-left: 8px;
}

.user_cd_index{
	padding-left: 13px;
	padding-right: 1px;
	margin-top: 10px;
}

.user_cd_index_title{
	margin-top: 20px;
	margin-left: 15px;
	background-color: lightgray;
	width: 120px;
	border-radius: 10px;
	text-align: center;
}


.user_cd_index_cdname{
	margin-top: 210px;
	margin-left: 20px;
	margin-bottom: 10px;
	border: 2px solid whitesmoke;
	height: 30px;
	width: 170px;
	text-align: center;
}

.user_cd_index_cdprice{
	border: 2px solid whitesmoke;
	height: 30px;
	width: 170px;
	text-align: center;
	margin-top: 10px;
	margin-left: 20px;
	margin-bottom: 10px;
}

.user_cd_show_top{
	margin-left: 20px;
}

.user_cd_show_top_status{
	margin-left: 20px;
	margin-bottom: 15px;
	width: 320px;
	text-align: center;
}

.user_cd_show_down{
	margin-top: 30px;
	margin-left: 20px;
}

.user_cd_show_single_name{
	border-bottom: 2px solid whitesmoke;
	margin-top: 20px;
}

.user_cd_show_single_name_name{
	margin-top: 5px;
	margin-bottom: 5px;
}

.user_cd_show_artist_name{
	border-bottom: 2px solid whitesmoke;
	margin-top: 30px;
}

.user_cd_show_artist_name_name{
	margin-top: 5px;
	margin-bottom: 5px;
}

.user_cd_show_release{
	border-bottom: 2px solid whitesmoke;
}

.user_cd_show_release_day{
	margin-top: 5px;
	margin-bottom: 5px;
}

.user_cd_show_genre{
	border-bottom: 2px solid whitesmoke;
}

.user_cd_show_genre_name{
	margin-top: 5px;
	margin-bottom: 5px;
}

.user_cd_show_label{
	border-bottom: 2px solid whitesmoke;
}

.user_cd_show_label_name{
	margin-top: 5px;
	margin-bottom: 5px;
}

.user_cd_show_price{
	border-bottom: 2px solid whitesmoke;
}

.user_cd_show_price_price{
	margin-top: 5px;
	margin-bottom: 10px;
}

.user_cd_show_incart{
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 20px;
}

.user_cd_show_disc_count{
	border-bottom: 2px solid whitesmoke;
}

.user_cd_show_disc{
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 30px;
}

.user_cd_show_song_name{
	border-bottom: 2px solid whitesmoke;
}

.user_cd_show_song{
	margin-top: 10px;
	margin-bottom: 10px;
}

.user_cd_show_last{
	margin-left: 10px;
}

.cart_show_index{
	margin-top: 20px;
	font-size: 70px;
	text-align: center;
	width: 100%;

}

.cart_buy{
	text-align: right;
	margin-bottom: 10px;
	width: 150px;
	font-size: 40px;
	float: right;
}

.users_user_show_top{
	margin-top: 20px;
	margin-left: 50px;
}

.users_user_show_mypage{
	margin-bottom: 20px;
	margin-left: 50px;
}

.users_user_show_name{
    margin-top: 10px;
	border-bottom: 2px solid whitesmoke;
}

.users_user_show_name_kana{
    margin-top: 10px;
	border-bottom: 2px solid whitesmoke;
}

.users_user_show_phone_number{
    margin-top: 10px;
	border-bottom: 2px solid whitesmoke;
}

.users_user_show_email{
    margin-top: 10px;
    margin-left: 10px;
	border-bottom: 2px solid whitesmoke;
}

.users_user_show_address{
    margin-top: 10px;
	border-bottom: 2px solid whitesmoke;
}

.users_user_show_prefecture{
    margin-top: 10px;
	border-bottom: 2px solid whitesmoke;
}

.users_user_show_town{
    margin-top: 10px;
    margin-left: 10px;
	border-bottom: 2px solid whitesmoke;
}

.users_user_show_post_number{
    margin-top: 10px;
	border-bottom: 2px solid whitesmoke;
}

.users_user_show_condo{
    margin-top: 10px;
    margin-left: 10px;
	border-bottom: 2px solid whitesmoke;
}

.users_user_show_down{
	margin-top: 25px;
}

.users_user_show_edit{
	padding-left: 10px;
}

.user_registration_new{
	margin-top: 20px;
	margin-bottom: 20px;
}

.user_registration_new_titile{
	margin-bottom: 20px;
}

.user_registration_new_sign_up{
	margin-top: 10px;
}

.user_sessions_new{
	margin-top: 20px;
	margin-bottom: 20px;

}

.user_sessions_new_e{
}

.owner_cd_new_title{
	margin-top: 20px;
	margin-bottom: 20px;
}

.owner_cd_new_image{
	margin-left: 10px;
	margin-bottom: 10px;
}

.owner_cd_new_status{
	margin-top: 14px;
	margin-left: 10px;
	margin-bottom: 5px;
	height: 25px;
	border-bottom: 2px solid whitesmoke;
}

.owner_cd_new_status_name{
	margin-left: 10px;
}

.owner_cd_new_single{
	height: 25px;
	border-bottom: 2px solid whitesmoke;
	margin-bottom: 5px;
	margin-top: 6px;
}

.owner_cd_new_single_name{
	margin-bottom: 15px;
}

.owner_cd_new_artist{
	height: 25px;
	border-bottom: 2px solid whitesmoke;
	margin-bottom: 5px;
}

.owner_cd_new_artist_name{
	margin-bottom: 15px;
}

.owner_cd_new_release{
	height: 25px;
	border-bottom: 2px solid whitesmoke;
	margin-bottom: 5px;
}

.owner_cd_new_release_day{
	margin-bottom: 15px;
}

.owner_cd_new_price{
	height: 25px;
	border-bottom: 2px solid whitesmoke;
	margin-bottom: 5px;
}


.owner_cd_new_genre{
	height: 25px;
	border-bottom: 2px solid whitesmoke;
	margin-bottom: 5px;
}

.owner_cd_new_genre_name{
	margin-bottom: 15px;
}

.owner_cd_new_label{
	height: 25px;
	border-bottom: 2px solid whitesmoke;
	margin-bottom: 5px;
}

.owner_cd_new_label_name{
	margin-bottom: 15px;
}


.owner_cd_new_create{
	margin-top: 30px;
}

.owner_cd_new_form{
	margin-top: 59px;
}

.users_unsubscribe_title{
	margin-top: 20px;
	margin-bottom: 20px;
}

.users_unsubscribe_destroy{
	margin-top: 50px;
	margin-bottom: 20px;
}

.owner_cds_index{
	margin-top: 20px;
	margin-left: 30px;
}

.owner_cds_index_destroy{
	margin-bottom: 30px;
}

.create_form{
	margin-top: 20px;
	margin-bottom: 20px;
}

.create_form_link{
	margin-top: 10px;
}

.create_form_submit{
	margin-top: 5px;
	margin-left: 2px;
}

.payment_all{
	margin-top: 20px;
	margin-bottom: 20px;
}

.payment_money{
	margin-left: 30px;
	margin-right: 30px;
}

.payment_summoney{
	border-bottom: 2px solid whitesmoke;
	margin-bottom: 10px;
	width: 100%;
	text-align: center;
}

.payment_cd_count{
	border-bottom: 2px solid whitesmoke;
	margin-bottom: 10px;
	width: 100%;

}

.payment_deli_money{
	border-bottom: 2px solid whitesmoke;
	margin-bottom: 10px;
	width: 100%;
}

.payment_deli_money_money{
	margin-left: 40px;
}

.payment_cd_count_money{
	border-bottom: 2px solid whitesmoke;
	margin-bottom: 10px;
	width: 100%;
}

.payment_sum_money{
	border-bottom: 2px solid whitesmoke;
	margin-bottom: 10px;
	width: 100%;
}

.payment_address_way{
	margin:auto;
}

.payment_way{
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 330px;
	border: 2px solid whitesmoke;
	padding: 20px;
	padding-bottom: 0px;
}

.payment_address{
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 30px;
	border: 2px solid whitesmoke;
	padding: 20px;
	padding-top: 19px;
	padding-bottom: 0px;
}

.payment_deli_address{
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 30px;
}

.payment_deli_dey{
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 70px;
}

.payment_button{
	margin:auto;
}

.submit_btn-sm{
	font-size: 30px;
	width: 1038px;
	border-radius: 10px 10px 10px 10px;

}

.payment_way_name{
	margin-bottom: 5px;
	text-align: center;
	height: 30px;
	border: 2px solid whitesmoke;
}

.cp_cssslider {
	width: 300px;
	height: 200px;
	overflow: hidden;
	margin: 2em auto;
	border: 10px solid #ffffff;
	box-shadow:0px 0px 5px 0px rgba(0,0,0,0.5);
}
.cp_slide_item {
	width: 300px;
	height: 200px;
	float: left;
	position: relative;
}
.cp_slidewrapper {
	width: 500%;/* slideの枚数×100% */
	position: relative;
	left: 0;
	animation: slider 20s infinite ease;/* スピード */
}

.cd_stock_index{
	margin-left: 50px;
}

.user_buying_title{
	margin-top: 20px;
	margin-bottom: 20px;
}

.user_buying_deli_deli{
	text-align: right;
	margin-right: 10px;
}

.top{
	width: 100%;
}

.top_genre{
	margin-top: 20px;
	width: 200px;
}

.side_genre_top{
	margin-top: 10px;
	margin-bottom: 20px;
	margin-right: 25px;
	text-align: center;
	border: 2px solid whitesmoke;
	height: 438px;
	padding-top: 10px;
}

.cartbutton{
	width: 90%;
}

.side_genre_name{
	margin-top: 20px;
}

.side_genre_title{
	padding-bottom: 5px;
	border-bottom: 2px solid whitesmoke;
}

.signimage{
	height: 1000px;
	background-image: url(data-uri-img.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #464646;
}

.logimage{
	height: 680px;
	background-image: url(data-uri-img.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: whitesmoke;
}

.log_name{
	margin:auto;
	color: #ffffff;
	width: 200px;
}

.pagination>li>a {
  border: none;
  color: #696969;
}


.pagination>.active>a {
  background: whitesmoke;
  border-radius: 15px;
}


.pagination>li>a:hover {
  border-radius: 15px;
}

.pagination{
	text-align: center;
	margin-left: 370px;
}

.cd_title_ran{
	margin-top: 20px;
	margin-bottom: 5px;
	margin-left: 0.1px;
	margin-right: 160px;
	border-bottom: 2px solid whitesmoke;
}

input[type="number"] {
        width: 60px;
        height: 30px;
}

.uriage {
	margin: 0 0 0 auto;
	border: solid whitesmoke;
	text-align: center;
}




.thank16 {

    background-image: url(thank16.jpg);
    height: 600px;
    width: 1000px;
}
.thank15 {
    background-image: url(thank15.jpg);
    height: 600px;
    width: 1000px;
}
.thank14 {
    background-image: url(thank14.jpg);
    height: 600px;
    width: 1000px;
}
.thank13 {
    background-image: url(thank13.jpg);
    height: 600px;
    width: 1000px;
}
.thank12 {
    background-image: url(thank12.jpg);
    height: 600px;
    width: 1000px;
}
.thank11 {
    background-image: url(thank11.jpg);
    height: 600px;
    width: 1000px;
}
.thank10 {
    background-image: url(thank10.jpg);
    height: 600px;
    width: 1000px;
}
.thank9 {
    background-image: url(thank9.jpg);
    height: 600px;
    width: 1000px;
}
.thank8 {
    background-image: url(thank8.jpg);
    height: 600px;
    width: 1000px;
}
.thank7 {
    background-image: url(thank7.jpg);
    height: 600px;
    width: 1000px;
}
.thank6 {
    background-image: url(thank6.jpg);
    height: 600px;
    width: 1000px;
}
.thank5 {
    background-image: url(thank5.jpg);
    height: 600px;
    width: 1000px;
}
.thank4 {
    background-image: url(thank4.jpg);
    height: 600px;
    width: 1000px;
}
.thank3 {
    background-image: url(thank3.jpg);
    height: 600px;
    width: 1000px;
}
.thank2 {
    background-image: url(thank2.jpg);
    height: 600px;
    width: 1000px;
}
.thank1 {
    background-image: url(thank1.jpg);
    height: 600px;
    width: 1000px;
}
.bx-wrapper {
    background-color: transparent;
    margin: 0px auto 0px;
    border: none;
    box-shadow: none;
}
.bx-wrapper img {
    display: block;
    margin: 0px auto;
}

.bx-pager {
	opacity: 0;
}

.bx-prev{
	opacity: 0;
}

.bx-next{
	opacity: 0;
}


.search{
	position: relative;
	padding-left: 40px;
}
#menu {
  width: auto;
}
#menu > ul {
  position: relative;
  font-size: 18px;
}
#menu > ul li {
  list-style: none;
  width: 25%;
}
#menu > ul > li {
  float: left;
  background-color: #343a40 !important;
  position: relative;
  display: block;
  line-height: 32px;
  text-align: center;
  vertical-align: middle;
}
#menu > ul > li > a {
  display: block;
  padding: 7px 30px;
  color: white;
  text-align: center;
  text-decoration: none;
  line-height: 18px;
}
#menu > ul > li:hover > a {
  background-color: #bbb;
}
#menu > ul > li > a > span {
  line-height: 18px;
}

.cartfa{
    color: white;
}

.complete{
	margin-top: 20px;
	margin-left: 10px;
}

.owner_user_title{
	margin-top: 20px;
}

.arrival_bottom{
	margin-bottom: 20px;
}

.arrival_name{
	margin-bottom: 10px;
	margin-left: 5px;
}

.complete_top{
	margin-bottom: 20px;
	margin-left: 10px;
}

.cd_liked{
	margin-bottom: 20px;
	margin-left: 40px;
}

.user_liked_title{
	margin-bottom: 10px;
	margin-left: 60px;
}
html, body { height: 100%; }

