/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */
// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

.clearfix::after {
	content:"";
	display: block;
	clear: both;
}

.input-group-btn{
	height: 20px;
}

.app_nav_home{
	margin-left: 5px;
	margin-right: 5px;
}

.app_nav_sign_up{
	margin-left: 5px;
	margin-right: 5px;
}

.app_nav_sign_in{
	margin-left: 5px;
	margin-right: 5px;
}

.app_nav_mypage{
	margin-left: 5px;
	margin-right: 5px;
}

.app_nav_sign_out{
	margin-left: 5px;
	margin-right: 5px;
}

.user_cd_index{
	margin-left: 60px;
}

.cd{
	float: left;
	border: 2px solid whitesmoke;
	margin: 10px;
	padding: 3px;
}

.incart{
	text-align: right;
	width: 30px;
}

.user_index_count{
	text-align: right;
	margin-left: 13px;
}

.user_index_cart_count{
	margin-bottom: 10px;
}

.cart_show{
	padding-bottom: 5px;
	padding-left: 13px;
	margin-left: 8px;
}

.user_cd_index{
	padding-left: 13px;
	padding-right: 1px;
	margin-top: 10px;
}

.user_cd_index_title{
	margin-top: 20px;
	margin-left: 15px;
	background-color: lightgray;
	width: 120px;
	border-radius: 10px;
	text-align: center;
}


.user_cd_index_cdname{
	margin-top: 210px;
	margin-left: 20px;
	margin-bottom: 10px;
	border: 2px solid whitesmoke;
	height: 30px;
	width: 170px;
}

.user_cd_index_cdprice{
	border: 2px solid whitesmoke;
	height: 30px;
	width: 170px;
	text-align: left;
	margin-top: 10px;
	margin-left: 20px;
	margin-bottom: 10px;
}

.user_cd_show_top{
	margin-left: 20px;
}

.user_cd_show_top_status{
	margin-left: 20px;
	margin-bottom: 15px;
	width: 320px;
	text-align: center;
}

.user_cd_show_down{
	margin-top: 30px;
	margin-left: 20px;
}

.user_cd_show_single_name{
	border-bottom: 2px solid whitesmoke;
	margin-top: 20px;
}

.user_cd_show_single_name_name{
	margin-top: 5px;
	margin-bottom: 5px;
}

.user_cd_show_artist_name{
	border-bottom: 2px solid whitesmoke;
	margin-top: 30px;
}

.user_cd_show_artist_name_name{
	margin-top: 5px;
	margin-bottom: 5px;
}

.user_cd_show_release{
	border-bottom: 2px solid whitesmoke;
}

.user_cd_show_release_day{
	margin-top: 5px;
	margin-bottom: 5px;
}

.user_cd_show_genre{
	border-bottom: 2px solid whitesmoke;
}

.user_cd_show_genre_name{
	margin-top: 5px;
	margin-bottom: 5px;
}

.user_cd_show_label{
	border-bottom: 2px solid whitesmoke;
}

.user_cd_show_label_name{
	margin-top: 5px;
	margin-bottom: 5px;
}

.user_cd_show_price{
	border-bottom: 2px solid whitesmoke;
}

.user_cd_show_price_price{
	margin-top: 5px;
	margin-bottom: 10px;
}

.user_cd_show_incart{
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 20px;
}

.user_cd_show_disc_count{
	border-bottom: 2px solid whitesmoke;
}

.user_cd_show_disc{
	margin-top: 10px;
	margin-bottom: 10px;
}

.user_cd_show_song_name{
	border-bottom: 2px solid whitesmoke;
}

.user_cd_show_song{
	margin-top: 10px;
	margin-bottom: 10px;
}

.user_cd_show_last{
	margin-left: 10px;
}

.cart_show_index{
	margin-top: 20px;
	font-size: 70px;
	text-align: center;
	width: 100%;

}

.cart_buy{
	text-align: right;
	margin-bottom: 10px;
	width: 150px;
	font-size: 40px;
	float: right;
}

.users_user_show_top{
	margin-top: 20px;
	margin-left: 50px;
}

.users_user_show_mypage{
	margin-bottom: 20px;
	margin-left: 50px;
}

.users_user_show_name{
    margin-top: 10px;
	border-bottom: solid 1px ;
}

.users_user_show_name_kana{
    margin-top: 10px;
	border-bottom: solid 1px ;
}

.users_user_show_phone_number{
    margin-top: 10px;
	border-bottom: solid 1px ;
}

.users_user_show_email{
    margin-top: 10px;
    margin-left: 10px;
	border-bottom: solid 1px ;
}

.users_user_show_address{
    margin-top: 10px;
	border-bottom: solid 1px ;
}

.users_user_show_prefecture{
    margin-top: 10px;
	border-bottom: solid 1px ;
}

.users_user_show_town{
    margin-top: 10px;
    margin-left: 10px;
	border-bottom: solid 1px ;
}

.users_user_show_post_number{
    margin-top: 10px;
	border-bottom: solid 1px ;
}

.users_user_show_condo{
    margin-top: 10px;
    margin-left: 10px;
	border-bottom: solid 1px ;
}

.users_user_show_down{
	margin-top: 25px;
}

.users_user_show_edit{
	padding-left: 10px;
}

.user_registration_new{
	margin-top: 20px;
	margin-bottom: 20px;
}

.user_registration_new_titile{
	border-bottom: 2px solid whitesmoke;
}

.user_registration_new_sign_up{
	margin-top: 10px;
}

.user_sessions_new{
	margin-top: 20px;
	margin-bottom: 20px;
}

.owner_cd_new_title{
	margin-top: 20px;
	margin-bottom: 20px;
}

.owner_cd_new_image{
	margin-left: 10px;
	margin-bottom: 10px;
}

.owner_cd_new_status{
	margin-top: 14px;
	margin-left: 10px;
	margin-bottom: 5px;
	height: 25px;
	border-bottom: 2px solid whitesmoke;
}

.owner_cd_new_status_name{
	margin-left: 10px;
}

.owner_cd_new_single{
	height: 25px;
	border-bottom: 2px solid whitesmoke;
	margin-bottom: 5px;
	margin-top: 6px;
}

.owner_cd_new_single_name{
	margin-bottom: 15px;
}

.owner_cd_new_artist{
	height: 25px;
	border-bottom: 2px solid whitesmoke;
	margin-bottom: 5px;
}

.owner_cd_new_artist_name{
	margin-bottom: 15px;
}

.owner_cd_new_release{
	height: 25px;
	border-bottom: 2px solid whitesmoke;
	margin-bottom: 5px;
}

.owner_cd_new_release_day{
	margin-bottom: 15px;
}

.owner_cd_new_price{
	height: 25px;
	border-bottom: 2px solid whitesmoke;
	margin-bottom: 5px;
}


.owner_cd_new_genre{
	height: 25px;
	border-bottom: 2px solid whitesmoke;
	margin-bottom: 5px;
}

.owner_cd_new_genre_name{
	margin-bottom: 15px;
}

.owner_cd_new_label{
	height: 25px;
	border-bottom: 2px solid whitesmoke;
	margin-bottom: 5px;
}

.owner_cd_new_label_name{
	margin-bottom: 15px;
}


.owner_cd_new_create{
	margin-top: 30px;
}

.users_unsubscribe_title{
	margin-top: 20px;
	margin-bottom: 20px;
}

.users_unsubscribe_destroy{
	margin-top: 50px;
	margin-bottom: 20px;
}

.owner_cds_index{
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 30px;
}

.create_form{
	margin-top: 20px;
	margin-bottom: 20px;
}

.create_form_link{
	margin-top: 10px;
}

.create_form_submit{
	margin-top: 5px;
	margin-left: 2px;
}

.payment_all{
	margin-top: 20px;
	margin-bottom: 20px;
}

.payment_money{
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 30px;
}

.payment_summoney{
	border-bottom: 2px solid whitesmoke;
}

.payment_cd_count{
	border-bottom: 2px solid whitesmoke;
}

.payment_deli_money{
	border-bottom: 2px solid whitesmoke;
}

.payment_cd_count_money{
	border-bottom: 2px solid whitesmoke;
}

.payment_sum_money{
	border-bottom: 2px solid whitesmoke;
}

.payment_way{
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 30px;
}

.payment_address{
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 30px;
}

.payment_deli_address{
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 30px;
}

.payment_deli_dey{
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 30px;
}







input[type="number"] {
        width: 60px;
        height: 30px;
    }