<div class="container">
 <div class="row">
  <div class="col-md-8">

  	<%= form_for @label, url: owners_labels_path, method: :post do |f| %>

  	<div class="row">
  	  <table>
  	  	<tr>
  	  	  <th>レーベル名</th>
  	  	</tr>
  	  	<tr>
  	  	  <th><%= f.text_field :name %></th>
  	  	</tr>
  	  </table>
  	</div>



  	<div class="row">
     <%= f.submit "登録", class:"btn btn-primary" %>
    </div>

    <% end %>

  </div>
 </div>
</div>